export const CHAIN_ID = {{chainId}};
{{#contracts}}
export const CONTRACT_ADDR = "{{address}}";
{{/contracts}}
export const ETH_ADDR = "0x0000000000000000000000000000000000000000";

export const TOKEN_TYPE_ETHER = 0;
export const TOKEN_TYPE_ERC20 = 1;
